/* General rules */
section:nth-of-type(2n + 1) {
    background-color: aquamarine;
}

/* Debugging rules */
header {
    background-color: royalblue;
    height: 100px;
}

/* .container-sm,
.container-md, 
.container-lg {
    background-color: green;
    opacity: 0.6;
} */

#background-red {
    background-color: red;
    height: 100px;
}
#background-blue {
    background-color: blue;
    height: 100px;
}
#background-white {
    background-color: white;
    height: 250px;
    border: 1px solid black;
}
#background-white-short {
    background-color: white;
    height: 50px;
    border: 1px solid black;
}

#logo,
#menu {
    height: 40px;
    background-color: brown;
}

#image {
    height: 250px;
    background-color: blueviolet;
    border: 1px solid rgb(242, 255, 0);
}